{% if product.tags contains 'EMBROIDER' or product.tags contains 'embroider' or product.tags contains 'Ryder Cup 2025' %}
  <style>
      .--custom-embroidery-message-wrapper{
        border: 1px solid black;
        padding: 10px;
        margin-block: 10px 30px;
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    .--icon-wrapper {
        svg {
          width: 50px;
          height: auto;
           @media(max-width: 768px){
              width: 20px;
            }
        }
       
    }
    h4 {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
        align-items: flex-start;
      margin-block: 0 8px;
      font-family: var(--font-family-Body);
      font-size: 16px;
      line-height: 20px;
    }
   h4  em {
        font-style: normal;
        color: #8c060a;
    }
    p{
      font-size: 12px;
      line-height: 14px;
      margin-block: 0px;
      line-height: 1.5em;
      text-align: left;
    }
      }
  </style>
  <div class="--custom-embroidery-message-wrapper">
    <div class="--icon-wrapper desktop-only">
      {% render 'all-icons', name: 'sewing' %}
    </div>

    <div>
      <h4> <div class="--icon-wrapper mobile-only">
      {% render 'all-icons', name: 'sewing' %}
    </div>{{ settings.embroidery_message_title }}</h4>
      {{ settings.embroidery_message_pdp }}
      
    </div>
  </div>
{% endif %}
