{%- assign discount_percent_raw = product.metafields.custom.discount_percentage_price.value | default: 0.0 | plus: 0.0 -%}

{%- if discount_percent_raw > 0 -%}
  {%- assign variant = product.selected_or_first_available_variant -%}
  {%- assign regular_price = variant.price -%}

  {%- assign discount_amount = regular_price | times: discount_percent_raw | divided_by: 100.0 -%}
  {%- assign discounted_price = regular_price | minus: discount_amount -%}

  {%- assign discount_percent_int = discount_percent_raw | round -%}

  {%- if discount_percent_raw == discount_percent_int -%}
    {%- assign discount_display = discount_percent_int -%}
  {%- else -%}
    {%- assign discount_display = discount_percent_raw | round: 2 -%}
  {%- endif -%}

  <div class="pinfo-price-wrapper {% if block.settings.enable_mb %}mb{% endif %} {{ class }}">
    <div class="pinfo-price">
      <p class="pinfo-regular-price">
        {{ discounted_price | money }}
      </p>

      <p class="pinfo-compare-price">
        <s>{{ regular_price | money }}</s>
      </p>

      <div class="saved__money">
        Save {{ discount_display }}%
      </div>
    </div>
  </div>
{%- endif -%}
