<div sort-body class="custom__sort-options">
    <div class="sort__options-wrapper">
        <div class="sort__drawer-header">
            <h4>SORT</h4>
        </div>
        <div class="sort__options-inner">
            <facet-filters-form class="facets facets-vertical-sort page-width- small-hide-">
                <form class="facets-vertical-form" id="FacetSortForm">
                <div class="facet-filters sorting caption">
                    <div class="facet-filters__field">
                    <div class="radio-sort">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <div class="sort-options">
                        {%- for option in collection.sort_options -%}
                            <div class="sort-option">
                            <input
                                type="radio"
                                name="sort_by"
                                id="sort-{{ option.value | handle }}"
                                value="{{ option.value | escape }}"
                                class="sort-radio"
                                {% if option.value == sort_by %}
                                checked
                                {% endif %}
                                aria-describedby="a11y-refresh-page-message"
                            >
                            <label for="sort-{{ option.value | handle }}" class="caption-large">
                                {{ option.name | escape }}
                            </label>
                            </div>
                        {%- endfor -%}
                        </div>
                    </div>
                    </div>
                </div>
                </form>
            </facet-filters-form>
        </div>
        <div class="sort__option-close">
          <button sort-close>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                <path d="M5.89062 12L5.38893 11.7746L0.668393 6.00163L0.66706 6L0.668393 5.99837L5.38893 0.225367L5.89062 0L3.22925 5.99837L3.22871 5.99973V6.00027L3.22925 6.00163L5.89062 12Z" fill="#1F2937"/>
            </svg>
            <span>
             Back To Collection
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                <path d="M0.443359 0L0.945059 0.225368L5.66559 5.99837L5.66692 6L5.66559 6.00163L0.945059 11.7746L0.443359 12L3.10474 6.00163L3.10528 6.00027L3.10528 5.99973L3.10474 5.99837L0.443359 0Z" fill="#1F2937"/>
            </svg>
          </button>
        </div>
    </div>
</div>