
<ul class="mega-images-sm child-m">
  <div class="mega__image-items-sm">
    <div class="mega__image-items-wrapper-sm">
      {% liquid
        assign title_handle = link.title | handleize
        assign has_mega_image = false
      %}
      {% for block in section.blocks %}
        {% if block.type == 'image_mega_menu' %}
          {% liquid
            assign menu_title = block.settings.heading | handleize

            if menu_title == blank or menu_title != title_handle
              continue
            endif
            if menu_title == title_handle
              assign has_mega_image = true
            endif
          %}
          {% if has_mega_image %}
            {% for i in (1..4) %}
                {% liquid
                    capture title
                        echo 'title_' | append: i
                    endcapture
                    capture image
                        echo 'image_' | append: i
                    endcapture
                    capture link
                        echo 'link_' | append: i
                    endcapture
                %}
                {% if block.settings[image] and block.settings[title] != blank %}
                <div class="mega__menu-item-sm">
                    <div class="mega__menu-item-image-sm">
                        {% if block.settings[image] %}
                        {{ block.settings[image] | image_url: width: 600 | image_tag:  loading: 'lazy', decoding: 'async', alt: block.settings[title] }}
                        {% endif %}
                    </div>
                    <p>{{ block.settings[title] }}</p>
                    <a href="{{ block.settings[link] | default: '#' }}"></a>
                </div>
                {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</ul>