<style>
  .pqv-container{
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -60%;
    z-index: 1500;
    background: #fff ;
    visibility: hidden;
    opacity:0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out 0.2s;

    @media(max-width: 768px) {
      width: 100%;
      top: 110%;
      right: 0;

    }
  }
  product-quick-view.open .pqv-container{
    right: 0;
    visibility: visible;
    opacity:1;
    /* z-index: 999; */
    @media(max-width: 768px) {
      top: 0;
    }
  }
  .pqv-wrapper{
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    height: 100%;
    background: white;
    /* overflow: hidden; */
    position: relative;
    /* padding: 50px 0 0; */
    padding: 0;

    .pinfo-breadcrumbs{
      display: none;
    }
  }
  .pqv-close-btn{
    position: fixed;
    /* left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-1px); */
    top: 16px;
    right: 16px;
    z-index: 2;
    width: 30px;
    aspect-ratio: 1;
    {% comment %} border-radius: 50%; {% endcomment %}
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: #fff;
    {% comment %} border: 1px solid #000; {% endcomment %}
    visibility: hidden;
    {% comment %} transition: all 0.6s ease-in-out 0.2s; {% endcomment %}
    transition: 0.6s ease;
    {% comment %} border: 1px solid #091A0E; {% endcomment %}
  }
  .pqv-close-btn svg{
    {% comment %} width: 16px; {% endcomment %}
    path{
     {% comment %} stroke: #091A0E; {% endcomment %}
    }
  }
  product-quick-view.open .pqv-close-btn{
    visibility: visible;
  }
  @media screen and (min-width: 745px){
    .pqv-container .info-media-stack-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  @media screen and (max-width: 744px){
    .pqv-wrapper{
      width: 100%;
      /* max-width: 1200px; */
      margin: auto;
      height: auto;
      background: white;
      overflow: hidden;
      position: relative;
      /* padding: 42px 0 32px; */
      padding: 0;
    }
    .pqv-close-btn{
      position: fixed;
      left: auto;
      right: 10px;
      top: 10px;
      transform: translateX(0) translateY(0);
    }
    product-quick-view.open .pqv-container .p-info-container{
      padding: 30px 0;
    }
  }
</style>

<style>
{% comment %} Removed Elements  {% endcomment %}
 .pqv-container{
.product-info-content {
    top: 10px;
    
}
.pinfo-wrapper{
  margin-top: 10px;
}
.page-width {
    max-width: 100%!important;
}
.pinfo-breadcumb-wrapper {
    display: none!important;
}
.pinfo-collection {
    margin: 0;
}
.mb {
  margin: 0 0 16px;
  @media(max-width: 768px){
  margin: 0 0 8px;
  }
    
}
.pinfo-title {
    
    font-size: 22px;
    
    line-height: 1.2;
    
}
.product__description {
  @media(max-width: 768px){
  display: none;
  }
  
}
.pinfo-options-values-wrapper.color-options {
    grid-template-columns: repeat(5,minmax(0,1fr));
}

.pd-gurantee__info, .pd-shipping__info {
    display: none;
}


}


</style>


<product-quick-view class="">
  <div class="pqv-container">
    <div class="pqv-wrapper">
      <button class="pqv-close-btn">
        <svg width="24" height="23" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.6636 0.700185L12.2962 2.42153C9.8589 0.545014 6.43137 0.547481 3.99694 2.42823L1.61999 0.700184C1.45141 0.577458 1.21866 0.595796 1.07089 0.743562C0.923126 0.891328 0.90514 1.12373 1.02751 1.29266L2.75662 3.67066C0.884332 6.10439 0.884332 9.52452 2.75662 11.9582L1.02751 14.3362C0.904787 14.5048 0.923126 14.7376 1.07089 14.8853C1.21866 15.0331 1.45106 15.0511 1.61999 14.9287L3.99694 13.2007C6.43207 15.0814 9.85925 15.0835 12.2962 13.2074L14.6636 14.9287C14.8322 15.0514 15.0649 15.0331 15.2127 14.8853C15.3604 14.7376 15.3784 14.5052 15.2561 14.3362L13.5358 11.9699C15.4204 9.53157 15.4204 6.09663 13.5358 3.65832L15.2561 1.29195C15.3788 1.12338 15.3604 0.890622 15.2127 0.742857C15.0649 0.595091 14.8325 0.577811 14.6636 0.700185ZM11.5767 2.94488L8.14214 5.44209L4.71601 2.95123C6.76322 1.50355 9.52669 1.50143 11.5767 2.94488ZM12.3607 3.60472C12.3928 3.63681 12.4245 3.66925 12.4559 3.70205L9.6473 7.56512C9.53939 7.71394 9.53939 7.91496 9.6473 8.06379L12.4559 11.9269C12.4245 11.9597 12.3928 11.9921 12.3607 12.0242C12.3254 12.0595 12.2902 12.094 12.2538 12.1282L8.39076 9.31962C8.24194 9.2117 8.04092 9.2117 7.8921 9.31962L4.03926 12.1208C4.00611 12.0891 3.97295 12.0573 3.94016 12.0245C3.90454 11.9889 3.86927 11.953 3.83471 11.9163L6.63556 8.06379C6.74347 7.91496 6.74347 7.71394 6.63556 7.56512L3.83471 3.71263C3.86927 3.67595 3.90419 3.64034 3.94016 3.60436C3.97295 3.57157 4.00575 3.53947 4.03926 3.50809L7.8921 6.30929C8.04092 6.4172 8.24194 6.4172 8.39076 6.30929L12.2538 3.50068C12.2898 3.53454 12.3254 3.56945 12.3607 3.60472ZM3.2909 2.96357L3.34416 3.00202C3.3431 3.00307 3.34239 3.00378 3.34134 3.00484C3.33746 3.00872 3.33358 3.01259 3.3297 3.01647L3.2909 2.96357ZM3.27997 4.3901L5.76942 7.8141L3.27997 11.2381C1.8404 9.19266 1.8404 6.43625 3.27997 4.3901ZM3.2909 12.6653L3.3297 12.6117L3.34134 12.6234L3.34416 12.6262L3.2909 12.6653ZM4.71601 12.6777L8.14214 10.1868L11.5767 12.684C9.52669 14.1275 6.76322 14.1254 4.71601 12.6777ZM12.9927 12.6653L12.9496 12.6343L12.9599 12.6241L12.9613 12.6227L12.9927 12.6653ZM13.0124 11.2512L10.5138 7.81445L13.0124 4.37775C14.4643 6.42919 14.4643 9.19971 13.0124 11.2512ZM12.9616 3.0066C12.9613 3.00625 12.9606 3.00554 12.9602 3.00519C12.9567 3.00166 12.9532 2.99814 12.95 2.99496L12.993 2.96393L12.9616 3.0066Z" fill="black"/>
        </svg>
      </button>
      <div class="pqv-content"></div>
    </div>
  </div>
</product-quick-view>

<script>
class ProductQuickView extends HTMLElement {
  constructor() {
    super();
    const closeButton = this.querySelector(".pqv-close-btn");
    if (closeButton) {
      closeButton.addEventListener("click", () => {
        this.close(); // Arrow function preserves outer `this`
        const zoomedImageContainer = document.querySelector('.zoomed-image-container');
        if (zoomedImageContainer) {
          document.body.removeChild(zoomedImageContainer);
          document.body.style.overflow = "auto";
        }
      });
    }
  }

  renderContent(content) {
    if (this.querySelector(".pqv-content")) {
      this.querySelector(".pqv-content").innerHTML = content;
      window.initFaqAccordions();
      window.sizeGuide();
    }
  }

  open() {
    this.classList.add("open");
    document.body.classList.add("overflow-hidden");
    const overlay = document.createElement("div");
    overlay.className = "pqv-overlay";
    overlay.addEventListener("click", () => this.close());
    document.body.appendChild(overlay);
  }

  close() {
    this.classList.remove("open");
    document.body.classList.remove("overflow-hidden");
    document.body.classList.remove("adding-to-cart");
    const overlay = document.querySelector(".pqv-overlay");
    if (overlay) overlay.remove();
  }
}

customElements.define("product-quick-view", ProductQuickView);

window.productQuickView = window.productQuickView || {};
productQuickView.container = document.querySelector("product-quick-view");
</script>
