  <button open-action-popup>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M6.87021 11.6886C6.20448 12.1123 5.33333 11.6341 5.33333 10.845V5.15499C5.33333 4.3659 6.20448 3.88768 6.87021 4.31132L11.3409 7.15632C11.9584 7.54927 11.9584 8.45069 11.3409 8.84364L6.87021 11.6886Z" fill="white"/>
    </svg>
    {% comment %} Design Details {% endcomment %}
     See It In Action
  </button>