/* @font-face {
  font-family: "Gotham Bold";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/GothamBold_1.woff?v=1756280364")
    format("woff");
    font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/GothamBook_1.woff?v=1756280363")
    format("woff");
    font-display: swap;
} */
/* @font-face {
  font-family: "Gotham Bold";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/gotham-bold.woff2?v=1756294987")
    format("woff2");
    font-display: swap;
} */

@font-face {
  font-family: "SainteColombe Bold";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/SainteColombe-Bold-Trial_1.woff?v=1757524421")
    format("woff2");
    font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/gotham-book.woff2?v=1756294984")
    format("woff2");
    font-display: swap;
}
@font-face {
  font-family: "Gotham Black";
  src: url("https://cdn.shopify.com/s/files/1/0031/4920/1526/files/Gotham-Black_1.woff?v=1756280368")
    format("woff");
    font-display: swap;
}

:root {


  --font-family-Body:  "Gotham";
  --font-body-family: "Gotham";
  --font-body-family--Light: "Gotham";
/* 
  --font-family-Body:  "SainteColombe";
  --font-body-family: "SainteColombe";
  --font-body-family--Light: "SainteColombe"; */
  
  --font-family-Title: "SainteColombe Bold";
  --font-heading-family: "SainteColombe Bold";
  --font-family-Heading: "SainteColombe Bold";

  /* --font-family-Control: "Gotham"; */
  --font-family-Control: "SainteColombe";

  --main-800: #1f2937;
  --main-200: #e5e7eb;

  --base-600: #4b5563;
  --base-300: #d1d5db;

  --subtle-400: #9ca3af;
  --subtle-500: #6b7280;

  --highlight-900: #312e81;
  --highlight-500: #eef2ff;

  --disabled-100: #f3f4f6;
  --disabled-800: #1f2937;
  /* Base */

  /* Inverted */
  --main-100: #f3f4f6;
  --base-300: #d1d5db;
  --subtle-500: #6b7280;
  --highlight-500: #eef2ff;
  --disabled-800: #1f2937;
  /* Inverted */

  /* Border */
  --main-300: #d1d5db;
  --main-600: #4b5563;

  --subtle-200: #e5e7eb;
  --subtle-700: #374151;

  --disabled-100: #f3f4f6;
  --disabled-800: #1f2937;

  --dense-600: #4b5563;
  --dense-300: #d1d5db;
}

:root {
  /* Heading Sizes */
  --Font-Size-Heading-H1: 56px;
  --Font-Size-Heading-H2: 40px;
  --Font-Size-Heading-H3: 20px;
  --Font-Size-Heading-H4: 20px;
  --Font-Size-Heading-H5: 18px;

  @media (max-width: 1280px) {
    --Font-Size-Heading-H1: 40px;
    --Font-Size-Heading-H2: 32px;
    --Font-Size-Heading-H3: 20px;
    --Font-Size-Heading-H4: 18px;
    --Font-Size-Heading-H5: 18px;
  }

  @media (max-width: 744px) {
    --Font-Size-Heading-H1: 36px;
    --Font-Size-Heading-H2: 28px;
    --Font-Size-Heading-H3: 20px;
    --Font-Size-Heading-H4: 18px;
    --Font-Size-Heading-H5: 16px;
  }

  /* heading Line height */

  --Line-Height-Heading-H1: 56px;
  --Line-Height-Heading-H2: 40px;
  --Line-Height-Heading-H3: 24px;
  --Line-Height-Heading-H4: 28px;
  --Line-Height-Heading-H5: 24px;

  @media (max-width: 1280px) {
    --Line-Height-Heading-H1: 40px;
    --Line-Height-Heading-H2: 40px;
    --Line-Height-Heading-H3: 28px;
    --Line-Height-Heading-H4: 22px;
    --Line-Height-Heading-H5: 20px;
  }

  @media (max-width: 744px) {
    --Line-Height-Heading-H1: 44px;
    --Line-Height-Heading-H2: 32px;
    --Line-Height-Heading-H3: 20px;
    --Line-Height-Heading-H4: 22px;
    --Line-Height-Heading-H5: 20px;
  }

  /* Paragraph Sizes */

  --Font-Size-Paragraph-Large: 18px;
  --Font-Size-Paragraph-Medium: 16px;
  --Font-Size-Paragraph-Regular: 13px;
  --Font-Size-Paragraph-Small: 12px;
  --Font-Size-Paragraph-Tiny: 10px;

  @media (max-width: 1280px) {
    --Font-Size-Paragraph-Large: 16px;
    --Font-Size-Paragraph-Medium: 14px;
    --Font-Size-Paragraph-Regular: 12px;
    --Font-Size-Paragraph-Small: 11px;
    --Font-Size-Paragraph-Tiny: 10px;
  }

  @media (max-width: 744px) {
    --Font-Size-Paragraph-Large: 16px;
    --Font-Size-Paragraph-Medium: 14px;
    --Font-Size-Paragraph-Regular: 12px;
    --Font-Size-Paragraph-Small: 11px;
    --Font-Size-Paragraph-Tiny: 10px;
  }

  /* Paragraph Line height */
  --Line-Height-Paragraph-Large: 28px;
  --Line-Height-Paragraph-Medium: 24px;
  --Line-Height-Paragraph-Regular: 20px;
  --Line-Height-Paragraph-Small: 17px;
  --Line-Height-Paragraph-Tiny: 14px;

  @media (max-width: 1280px) {
    --Line-Height-Paragraph-Large: 28px;
    --Line-Height-Paragraph-Medium: 24px;
    --Line-Height-Paragraph-Regular: 20px;
    --Line-Height-Paragraph-Small: 17px;
    --Line-Height-Paragraph-Tiny: 14px;
  }

  @media (max-width: 744px) {
    --Line-Height-Paragraph-Large: 24px;
    --Line-Height-Paragraph-Medium: 20px;
    --Line-Height-Paragraph-Regular: 17px;
    --Line-Height-Paragraph-Small: 15px;
    --Line-Height-Paragraph-Tiny: 14px;
  }

  /* Button Styling */
  --Font-Size-UI-Controls-Control-Button-Large: 24px;
  --Font-Size-UI-Controls-Control-Button-Regular: 18px;
  --Font-Size-UI-Controls-Control-Button-Small: 14px;

  @media (max-width: 1280px) {
    --Font-Size-UI-Controls-Control-Button-Large: 24px;
    --Font-Size-UI-Controls-Control-Button-Regular: 18px;
    --Font-Size-UI-Controls-Control-Button-Small: 16px;
  }

  @media (max-width: 744px) {
    --Font-Size-UI-Controls-Control-Button-Large: 20px;
    --Font-Size-UI-Controls-Control-Button-Regular: 15px;
    --Font-Size-UI-Controls-Control-Button-Small: 13px;
  }

  /* Button Line height */

  --Line-Height-UI-Controls-Control-Button-Large: 24px;
  --Line-Height-UI-Controls-Control-Button-Regular: 18px;
  --Line-Height-UI-Controls-Control-Button-Small: 16px;

  @media (max-width: 1280px) {
    --Line-Height-UI-Controls-Control-Button-Large: 24px;
    --Line-Height-UI-Controls-Control-Button-Regular: 18px;
    --Line-Height-UI-Controls-Control-Button-Small: 16px;
  }

  @media (max-width: 744px) {
    --Line-Height-UI-Controls-Control-Button-Large: 20px;
    --Line-Height-UI-Controls-Control-Button-Regular: 15px;
    --Line-Height-UI-Controls-Control-Button-Small: 16px;
  }

  /* Spacing Variables */
  --Spacing-Container-xxs: 6px;
  --Spacing-Container-xs: 8px;
  --Spacing-Container-sm: 12px;
  --Spacing-Container-md: 16px;
  --Spacing-Container-lg: 24px;
  --Spacing-Container-xl: 32px;
  --Spacing-Container-xxl: 48px;

  --Spacing-Section-Vertical-Padding: 64px;
  --Spacing-Section-Horizontal-Padding: 128px;

  @media (max-width: 1200px) {
  --Spacing-Container-xxs: 6px;
  --Spacing-Container-xs: 6px;
  --Spacing-Container-sm: 8px;
  --Spacing-Container-md: 12px;
  --Spacing-Container-lg: 20px;
  --Spacing-Container-xl: 24px;
  --Spacing-Container-xxl: 40px;

    --Spacing-Section-Vertical-Padding: 24px;
    --Spacing-Section-Horizontal-Padding: 32px;
  }

  @media (max-width: 600px) {
    --Spacing-Container-xxs: 4px;
    --Spacing-Container-xs: 6px;
    --Spacing-Container-sm: 8px;
    --Spacing-Container-md: 12px;
    --Spacing-Container-lg: 16px;
    --Spacing-Container-xl: 24px;
    --Spacing-Container-xxl: 32px;

    --Spacing-Section-Vertical-Padding: 36px;
    --Spacing-Section-Horizontal-Padding: 16px;
  }

  /* Color Variables */
  --Content-Base-main: #1f2937;
  --Content-Base-base: #4b5563;
  --Content-Base-subtle: #9ca3af;
  --Content-Base-highlight: #312e81;
  --Content-Base-disabled: #f3f4f6;

  /* Color Inverted Variables */
  --Content-Inverted-main: #f3f4f6;
  --Content-Inverted-base: #d1d5db;
  --Content-Inverted-subtle: #6b7280;
  --Content-Inverted-highlight: #eef2ff;
  --Content-Inverted-disabled: #1f2937;

  /* Border Color Variables */
  --Border-Base-main: #d1d5db;
  --Border-Base-subtle: #e5e7eb;
  --Border-Base-highlight: #f3f4f6;
  --Border-Base-disabled: #4b5563;

  /* Transitions */
  --transition-fast: 0.3s;
  --transition-medium: 0.4s;
  --transition-slow: 0.5s;

  /* Easing Modes */
  --ease: ease;
  --ease-in: ease-in;
  --ease-out: ease-out;
  --ease-in-out: ease-in-out;
  --linear: linear;
  --cubic-bezier-smooth: cubic-bezier(0.25, 0.1, 0.25, 1);
  --cubic-bezier-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /* Complete Transition Variants */
  --transition-fast-ease: var(--transition-fast) var(--ease);
  --transition-fast-ease-in: var(--transition-fast) var(--ease-in);
  --transition-fast-ease-out: var(--transition-fast) var(--ease-out);
  --transition-fast-ease-in-out: var(--transition-fast) var(--ease-in-out);
  --transition-fast-linear: var(--transition-fast) var(--linear);
  --transition-fast-smooth: var(--transition-fast) var(--cubic-bezier-smooth);
  --transition-fast-bounce: var(--transition-fast) var(--cubic-bezier-bounce);

  --transition-medium-ease: var(--transition-medium) var(--ease);
  --transition-medium-ease-in: var(--transition-medium) var(--ease-in);
  --transition-medium-ease-out: var(--transition-medium) var(--ease-out);
  --transition-medium-ease-in-out: var(--transition-medium) var(--ease-in-out);
  --transition-medium-linear: var(--transition-medium) var(--linear);
  --transition-medium-smooth: var(--transition-medium)
    var(--cubic-bezier-smooth);
  --transition-medium-bounce: var(--transition-medium)
    var(--cubic-bezier-bounce);

  --transition-slow-ease: var(--transition-slow) var(--ease);
  --transition-slow-ease-in: var(--transition-slow) var(--ease-in);
  --transition-slow-ease-out: var(--transition-slow) var(--ease-out);
  --transition-slow-ease-in-out: var(--transition-slow) var(--ease-in-out);
  --transition-slow-linear: var(--transition-slow) var(--linear);
  --transition-slow-smooth: var(--transition-slow) var(--cubic-bezier-smooth);
  --transition-slow-bounce: var(--transition-slow) var(--cubic-bezier-bounce);

  /* Border border-radius............................... */
  --rounded-3xl: 24px;
}

h1 {
  font-size: var(--Font-Size-Heading-H1);
  line-height: var(--Line-Height-Heading-H1);
  font-family: var(--font-family-Title);
  text-transform: uppercase;
}

h2 {
  font-size: var(--Font-Size-Heading-H2);
  line-height: var(--Line-Height-Heading-H2);
  font-family: var(--font-family-Title);
  text-transform: uppercase;
}

h3 {
  font-size: var(--Font-Size-Heading-H3);
  line-height: var(--Line-Height-Heading-H3);
  font-family: var(--font-family-Title);
  text-transform: uppercase;
}

h4 {
  font-size: var(--Font-Size-Heading-H4);
  line-height: var(--Line-Height-Heading-H4);
  font-family: var(--font-family-Title);
}

h5 {
  font-size: var(--Font-Size-Heading-H4);
  line-height: var(--Line-Height-Heading-H4);
  font-family: var(--font-family-Title);
  text-transform: uppercase;
}

h6 {
  font-size: var(--Font-Size-Heading-H4);
  line-height: var(--Line-Height-Heading-H4);
  font-family: var(--font-family-Title);
  text-transform: uppercase;
}

p,
a,
label {
  text-decoration: unset;
  /* font-size: var(--Font-Size-Paragraph-Regular);
  line-height: var(--Line-Height-Paragraph-Regular); */
  font-size: var(--Font-Size-Paragraph-Medium);
  line-height: var(--Line-Height-Paragraph-Medium);
  letter-spacing: 0px;
}
.subtitle {
    letter-spacing: 1px;
}
.caption-with-letter-spacing--medium {
    font-size: var(--Font-Size-Paragraph-Large);
    letter-spacing: 1.2px;
}
button,
input,
select {
  /* border: none; */
  outline: none;
  box-shadow: none;
  background: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.absolute-link {
  position: absolute;
  display: block!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Swiper Reset */
.--slider-wrapper {
  .swiper-wrapper {
    /* transform: translate3d(0px, 0px, 0px) !important; */
  }
}
.swiper:not(.swiper-initialized) {
  /* visibility: hidden !important;
  opacity: 0 !important; */
}
.swiper__container:not(.swiper-loaded) {
  /* visibility: hidden !important;
  opacity: 0 !important; */
}
/* Swiper Reset */
